<h1>Запрос цены для групп</h1>
<form action="">
    <input type="hidden" name="referrer"/>
    Название: <input type="text" class="fieldName" name="name"/> <br/>
    Рахмер группы: <input type="text" name="groupSize"/> <br/>
    Электронная почта: <input type="email" name="email"/> <br/>
    <input type="submit" value="Submit"/>
</form>
